DATABASE_URL="postgresql://username:password@hostname:port/dbname?sslmode=require"
JWT_SECRET="super_secret_jwt_key_protech_education_12345"

SUPABASE_PROJECT_ID="your_supabase_project_id"
SUPABASE_PUBLISHABLE_KEY="your_supabase_publishable_key"
SUPABASE_URL="https://your_supabase_project_id.supabase.co"

